# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]

# Change these settings to your own preference
indent_style = space
indent_size = 2

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false


[*.{py,rst,ini}]
indent_style = space
indent_size = 4

[*.{js,jsx,html,scss}]
indent_style = space
indent_size = 2

[*.py]
line_length=120
known_first_party=Hain-GGCrackers-UI
multi_line_output=3
default_section=THIRDPARTY

[*.{html,css,scss,json,yml,js,jsx}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

